.body {
    font-family: 'Open Sans', sans-serif;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-right: 10px;
    justify-content: space-between;
   display: flex;

}
.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    margin: 5px;


}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.banner {
    padding: 20px 30px 3px 80px;
    display: flex;
    align-items: center;
    height: 500px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(229, 84, 115, 0.10);

}

.banner-content {
    max-width: 400px;
}

.banner .profile-pic {

    width: 400px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;


}

.banner-description {
    margin-top: 5px;
    ;
}

.header {
    background-color: #fbf9f7;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;



}



.about {
    padding: 18px 22px;
    border-radius: 8px;
    margin: 30px;
    color: #272727;
    text-align: center;
    font-size: 12px;


}

.flower {
    text-align: center;
}

.section-title {
    font-size: 20px;
    margin: 10px auto;
}

.section-description {
    font-size: 18px;
}

.sale {
    
    height: 400px;
    weight: 1000px;
    margin-top: 20px;
    background-color:  rgba(229, 84, 115, 0.05);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: auto;



}

.sale-content {
    max-width: 300px;
}

.sale .profile-pic {

    width: 300px;
}

.sale-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}

.sale-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    


}

.skills-container {
    margin-right: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
    gap: 10px;
    display: flex;


}

skill {
    padding: 30px;


}

.deal {
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    width: 1440px;
    height: 249px;
    text-align: center;
    margin-right:100px;
    margin-left: 50px;
    padding-top: 30px;

}

.deal-content {
    justify-content: center;
    align-items: center;

}

.footer {
    background-color: #272727;
    height: 200px;
    weight: 500px;
    margin-top: 20px;
    text-align: center;
    color: #f9f6f6;

}

.footer-greeting {

    color: #fbf9f7;
}
.footer-color{
    color: #e81321;
}